.cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fafaf8;
  border-top: 2px solid #2f4633;
  color: #2f4633;
  padding: 1.5rem;
  z-index: 9999;
}

.cookie-box {
  max-width: 800px;
  margin: 0 auto;
}

.cookie-options label {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-family: 'Lora' , serif;
  color: #3e3e3e;
}

.cookie-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.cookie-actions button {
  background-color: #2f4633;
  font-family: Playfair Display, serif;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}
